
<div style="bottom:0;  width:100%; height:auto; opacity:0.8; background-color:black;">
    <table>
    <tr style="width:100%">
    <td style="width:25%">
    <div style="font-size:17px; padding:40px 50px; color:white;">
        <h3>ABOUT</h3>
        <a href="#"><span style="color:white">Contect Us</span></a><br>
        <a href="#"><span style="color:white">About us</span></a><br>
        <a href="#"><span style="color:white">Carrers</span></a><br>
        <a href="#"><span style="color:white">ShopNow Stories</span></a><br>
        <a href="#"><span style="color:white">Press</span></a><br>
    </div>
    </td>
    
    <td style="width:25%">
    <div style="font-size:17px; padding:40px 50px; color:white;">
        <h3>HELP</h3>
        <a href="#"><span style="color:white">Payment</span></a><br>
        <a href="#"><span style="color:white">Shipping</span></a><br>
        <a href="#"><span style="color:white">Cancellation & Return</span></a><br>
        <a href="#"><span style="color:white">FAQ</span></a><br>
        <a href="#"><span style="color:white">Report Infringement</span></a><br>
    </div>
    </td>
    
    <td style="width:25%">
    <div style="font-size:17px; padding:40px 50px; color:white;">
        <h3>POLICY</h3>
        <a href="#"><span style="color:white">Return Policy</span></a><br>
        <a href="#"><span style="color:white">Terms Of Use</span></a><br>
        <a href="#"><span style="color:white">Security</span></a><br>
        <a href="#"><span style="color:white">Privacy</span></a><br>
        <a href="#"><span style="color:white">Sitemap</span></a><br>
    </div>
    </td>
    
    <td style="width:25%">
    <div style="font-size:17px; padding:50px 50px; color:white;">
        <h3>SOCIAL</h3>
        <a href="#"><span style="color:white">Facebook</span></a><br>
        <a href="#"><span style="color:white">Twitter</span></a><br>
        <a href="#"><span style="color:white">Instagram</span></a><br>
        <a href="#"><span style="color:white">Linked In</span></a><br>
    </div>
    </td>

    <td style="width:25%">
    <div style="font-size:17px; padding:40px 50px; color:white;">
    <h3>Registered Office Address:</h3>
    <span style="font-size:14px;">
    100,Prabhukrupa soca near Laxmanagar
    Varachha road 
    Surat, 395010,
    Gujrat, India
    CIN : U51109KA2012PTC066107
    Telephone: 7069680214
    </span>
    </div>
    </td>
    <div style="border-bottom:2px solid white;">
    </div>
    </tr>
</div>