
<!DOCTYPE html> 
<html> 
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>ShopNow.com</title>
<style>
	
	input[type=text], 
	input[type=password] { 
		width: 100%; 
		padding: 12px 20px; 
		margin: 8px 0; 
		display: inline-block; 
		border: 1px solid #ccc; 
		box-sizing: border-box; 
	}  
	.sub_btn{ 
		background-color: #4CAF50; 
		color: white;
		padding: 10px 20px; 
		margin: 0 auto; 
		border: none; 
		cursor: pointer; 
		width: 100%;
	}
		
	.back_btn{ 
		background-color: #4CAF50; 
		color: white; 
		padding: 14px 20px; 
		background-color: red;
		margin: 8px 0; 
		border: none; 
		cursor: pointer; 
		width: 25%; 
	}
	
	.sub_btn:hover { 
		opacity: 0.8; 
	} 
	.back_btn:hover { 
		opacity: 0.8; 
	} 
	.container { 
		padding: 6px; 
		width:500px;
		margin:0 auto;
		border:2px solid #2c3e50;
		border-radius:10px;
		box-shadow: 0px 26px 48px 0px rgba(255,255,255,0.2);
		background-color:white;
	} 
	@media screen and (max-width: 300px) { 
		span.psw { 
			display: block; 
			float: none; 
		} 
	} 
</style>
	</head>
<body style="background-color:#7f8c8d">
			<div class="container"> 
	<form action="/shopnow/user/login-page" method="POST"> 
			<h1><center>Use Resiteration page</center></h1>
			<label><b>Fullname:</b></label> <br>
			<input type="text" placeholder="Enter Fullname" name="fullname" required><br>			
			<label><b>Username:</b></label> 
			<input type="text" placeholder="Enter Username" name="username" required><br> 
			<label><b>Email ID:</b></label> &nbsp;
			<input type="text" placeholder="Enter Email ID" name="emailid" id="mn"><br>
			<label><b>xender:</b></label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<input type="radio" checked name="xender" value="Male" >Male
			<input type="radio" name="xender" value="Female" >Female<br>
			<label><b>Qulification:</b></label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<select value="Qulification" name="qulification" required>
			<option>MBA</option>
			<option>BSC(IT)</option>
			<option>BE</option>
			<option>B.COM</option>
			</select><br>
		    <label><b>Password:</b><label>
			<input type="password" id="p1" placeholder="Enter Password" name="password"><br>
			<label><b>Confirm Password:</b></label> 
			<input type="password" placeholder="Enter confirm Password"  name="cpassword" required>
			<input class="sub_btn" type="submit" style="font-size:20px;" name="sub" placeholder="Resiter">
			<a href="/shopnow/user/login-page"><input class="back_btn" type="button" style="font-size:20px;" value="Login"></a>
		</div>
	</form> 
</body> 
</html> 